<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :question_image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :question_description %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, id: :question_answer %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :question_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
